* {
  list-style-type: inherit;
  color: black;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }

html {
  background-color: #cccccc; }

body {
  border: 0;
  width: 90%;
  margin: 50px auto;
  position: relative;
  z-index: 0;
  background-clip: padding-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  list-style-type: none; }

h1 {
  border-left: 7px solid rgba(0, 0, 0, 0.2);
  margin: 0 -15px 15px -22px;
  padding: 5px 15px; }

h2 {
  border-left: 7px solid rgba(0, 0, 0, 0.2);
  margin: 0 -15px 15px -22px;
  padding: 5px 15px; }

h3 {
  border-left: 7px solid rgba(0, 0, 0, 0.2);
  margin: 0 -15px 15px -22px;
  padding: 5px 15px; }

h4 {
  border-left: 7px solid rgba(0, 0, 0, 0.2);
  margin: 0 -15px 15px -22px;
  padding: 5px 15px; }

h5 {
  border-left: 7px solid rgba(0, 0, 0, 0.2);
  margin: 0 -15px 15px -22px;
  padding: 5px 15px; }

h6 {
  border-left: 7px solid rgba(0, 0, 0, 0.2);
  margin: 0 -15px 15px -22px;
  padding: 5px 15px; }

ol {
  list-style-type: upper-roman; }

ol ol {
  list-style-type: lower-roman; }

.fixed, .fixed-left, .fixed-top, .fixed-right, .fixed-bottom {
  position: fixed; }

.fixed-left {
  left: 0; }

.left {
  position: relative;
  right: 90%; }

.fixed-top {
  top: 0; }

.top {
  position: relative;
  bottom: 90%; }

.fixed-right {
  right: 0; }

.right {
  position: relative;
  left: 90%; }

.fixed-bottom {
  bottom: 0; }

.bottom {
  position: relative;
  top: 90%; }

.fadable {
  display: none; }
  .fadable:hover {
    display: block; }

.tooltip {
  background-color: rgba(0, 0, 0, 0.4);
  color: #222222;
  border: 2px solid rgba(102, 102, 102, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  opacity: 0.9;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
  text-align: justify; }
  .tooltip span {
    display: none; }
  .tooltip:before {
    position: relative; }
  .tooltip.ferme:before {
    vertical-align: super; }
  .tooltip.ouvert:before {
    vertical-align: sub; }

.fleche, .fleche-left, .fleche-top, .tooltip.ferme:before, .fleche-right, .fleche-bottom, .tooltip.ouvert:before {
  content: "";
  z-index: 1000; }

.fleche-left {
  border-left: 0;
  border-right: 8px solid rgba(0, 0, 0, 0.4);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; }

.fleche-top, .tooltip.ferme:before {
  border-top: 0;
  border-bottom: 8px solid rgba(0, 0, 0, 0.4);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent; }

.fleche-right {
  border-right: 0;
  border-left: 8px solid rgba(0, 0, 0, 0.4);
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent; }

.fleche-bottom, .tooltip.ouvert:before {
  border-bottom: 0;
  border-top: 8px solid rgba(0, 0, 0, 0.4);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

a[id~="menu"] {
  font-weight: bolder; }
  a[id~="menu"]:hover {
    background-color: rgba(0, 0, 0, 0.8); }

a#open_menu {
  display: none; }

nav {
  z-index: 1000;
  border-left: 5px rgba(0, 0, 0, 0.4) solid;
  border-top: 5px rgba(0, 0, 0, 0.4) solid;
  border-bottom: 5px rgba(0, 0, 0, 0.4) solid;
  border-radius: 3px 0 0 3px;
  line-height: 1.5; }
  nav ol {
    margin: 10px; }

ul#frise {
  width: inherit; }
  ul#frise li.annee {
    text-align: center; }
    ul#frise li.annee + li.annee {
      padding-top: 30px; }
    ul#frise li.annee ul.legende li.tooltip {
      position: relative;
      display: block;
      text-align: left;
      max-width: 40%; }
      ul#frise li.annee ul.legende li.tooltip:hover {
        display: block; }

#cartographie > * {
  display: inline-block; }
#cartographie ul.legende {
  position: relative;
  top: -150px;
  max-width: 15%; }
  #cartographie ul.legende li.tooltip {
    display: none; }
